.form-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

td:nth-child(4):hover{
  color: #3765f1;
  cursor: pointer;
}

td:nth-child(5):hover{
  color: #ff5252;
  cursor: pointer;
}

.purchased {
  text-decoration: line-through;
}

.container {
  margin-top: 30px;
}

.header {
  background: #60e5c6;
  padding: 10px;
}

h1 {
  margin: 0;
}

h4 {
  margin-top: 15px;

}

.fa-square:hover, .fa-check-square:hover {
  cursor: pointer;
  color: #915ba0;
}

#submit-div {
  min-height: 82px;
  margin: 0;
  align-self: center;
}

input[type="submit"] {
  background: #c7f9ed;
  margin: 0;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  border: 1px solid #60e5c6;
  background: white;
}
